<!DOCTYPE html>
<html>
<head>
  <title>Backyard Environment Monitoring</title>
  
  
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/all/gauge.min.js"></script>
  
  <div>
    <p> Root Template </p>
  </div>
  <div>
    <p> A temperature chart </p>
    <canvas id="myChart"></canvas>  
    <p> A temperature gauge </p>
    <canvas id="myGauge"></canvas>
    <script src="../static/js/root.js"></script>
  </div>

</body>
</html>
